<h1>Cocktail List</h1>

<div><%= link_to "add", new_cocktail_path %></div>
<% @cocktails.each do |cocktail| %>
<div><%= cocktail.name %></div>
 <%= link_to "show", cocktail_path(cocktail)%>
 <%= link_to "delete", cocktail_path(cocktail),
  method: :delete,
      data: { confirm: "Are you sure?" }%>


 <% end %>
